<?xml version="1.0"?>
<configuration>
    <!--
  <UnseenUConnection
	  DatabaseType="DBConnLib.SQLiteDatabase"
	  DataSource="|DataDirectory|AuditLogDB.db"
	  Version="3"
  >
  </UnseenUConnection>
  -->
  <system.net>
    <settings>
      <performanceCounters enabled="false" />
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
