<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DBConnection" type="DBConnLib.DbConfiguration, DBConnLib" />
  </configSections>
  <DBConnection
	  DatabaseType="DBConnLib.SQLiteDatabase"
	  DataSource="|DataDirectory|AuditLogDB.db"
	  Version="3"
  >
  </DBConnection>
</configuration>